<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>安装</title>
    <script src="js/vue.min.js"></script>
    <script src="js/element-plus@2.2.16.js"></script>
    <script src="js/icons-vue@2.0.9.js"></script>
    <script src="js/axios.min.js"></script>
    <link type="text/css" rel="stylesheet" href="css/element-plus@2.2.16.css">
    <link type="text/css" rel="stylesheet" href="css/index.css">
</head>
<body>
<div id="app">
    <div class="main">
        <div class="title">
            <img src="logo.png" class="logo"/><h2>Ex-Admin</h2>
        </div>
        <el-steps :active="active" simple finish-status="success">
            <el-step title="环境检测"></el-step>
            <el-step title="数据配置"></el-step>
            <el-step title="安装"></el-step>
        </el-steps>
        <!-- 环境检测 -->
        <div v-if="active == 1">
            <el-descriptions :column="1" border v-if="info" style="margin-top: 10px" >
                <el-descriptions-item label="php版本" label-align="right" align="center" label-class-name="label-item">
                    {{info.php}}
                    <el-icon>
                        <Check v-if="info.php_check" color="green"></Check>
                        <Close color="red" v-else></Close>
                    </el-icon>
                    <span style="color: red" v-if="!info.php_check">( >=7.4 && < 8.0)</span>
                </el-descriptions-item>
                <el-descriptions-item label="composer" label-align="right" align="center" label-class-name="label-item">
                    {{info.composer}}
                    <el-icon>
                        <Check v-if="info.composer_check" color="green"></Check>
                        <Close color="red" v-else></Close>
                    </el-icon>
                </el-descriptions-item>
            </el-descriptions>
            <el-descriptions title="PHP扩展" :column="1" border v-if="info" style="margin-top: 10px">
                <el-descriptions-item label="pdo_mysql" label-align="right" align="center" label-class-name="label-item">
                    <el-icon>
                        <Check v-if="info.pdo_mysql" color="green"></Check>
                        <Close color="red" v-else></Close>
                    </el-icon>
                </el-descriptions-item>
                <el-descriptions-item label="curl" label-align="right" align="center" label-class-name="label-item">
                    <el-icon>
                        <Check v-if="info.curl" color="green"></Check>
                        <Close color="red" v-else></Close>
                    </el-icon>
                </el-descriptions-item>
                <el-descriptions-item label="gd" label-align="right" align="center" label-class-name="label-item">
                    <el-icon>
                        <Check v-if="info.gd" color="green"></Check>
                        <Close color="red" v-else></Close>
                    </el-icon>
                </el-descriptions-item>
                <el-descriptions-item label="fileinfo" label-align="right" align="center" label-class-name="label-item">
                    <el-icon>
                        <Check v-if="info.fileinfo" color="green"></Check>
                        <Close color="red" v-else></Close>
                    </el-icon>
                </el-descriptions-item>
                <el-descriptions-item label="zlib" label-align="right" align="center" label-class-name="label-item">
                    <el-icon>
                        <Check v-if="info.zlib" color="green"></Check>
                        <Close color="red" v-else></Close>
                    </el-icon>
                </el-descriptions-item>
            </el-descriptions>
        </div>
        <!-- 数据库配置 -->
        <div v-else-if="active == 2">
            <el-alert v-if="error" :title="error" type="error" style="margin-top: 10px"></el-alert>
            <h3 style="margin-top: 10px;text-align: left">
                数据库配置
            </h3>

            <el-form :model="database" label-width="120px">
                <el-form-item label="主机地址">
                    <el-input v-model="database.hostname" />
                </el-form-item>
                <el-form-item label="数据库名">
                    <el-input v-model="database.database" />
                </el-form-item>
                <el-form-item label="用户名">
                    <el-input v-model="database.username" />
                </el-form-item>
                <el-form-item label="密码">
                    <el-input v-model="database.password" type="password" />
                </el-form-item>
                <el-form-item label="端口号">
                    <el-input v-model="database.port"  />
                </el-form-item>
            </el-form>
            <h3 style="margin-top: 10px;text-align: left">
                管理员
            </h3>
            <el-form :model="user" label-width="120px">
                <el-form-item label="用户名">
                    <el-input v-model="user.username" />
                </el-form-item>
                <el-form-item label="密码">
                    <el-input v-model="user.password" type="password" />
                </el-form-item>
                <el-form-item label="确认密码">
                    <el-input v-model="user.password_confim" type="password" />
                </el-form-item>
            </el-form>
        </div>
        <!-- 安装 -->
        <div v-else-if="active == 3">
            <el-alert
                    style="margin-top: 10px"
                    v-if="install_status == 1"
                    title="安装完成"
                    type="success"
                    show-icon
            >
                <el-link href="http://127.0.0.1" type="success" target="_blank">安装视频教程</el-link>
            </el-alert>
            <el-alert
                    style="margin-top: 10px"
                    v-if="install_status == 2"
                    title="安装失败，请排查重试"
                    type="error"
                    show-icon
            >
            </el-alert>
            <el-descriptions :column="1" border v-if="info" style="margin-top: 10px">
                <el-descriptions-item label="PHP框架" label-align="right" align="center" label-class-name="label-item">
                    <el-space :size="30">
                        <el-radio-group v-model="frame">
                            <el-radio label="laravel" >laravel</el-radio>
                            <el-radio label="thinkphp" >thinkphp</el-radio>
                        </el-radio-group>
                        <el-button :disabled="!frame" @click="install" :loading="loading">安装</el-button>
                    </el-space>

                </el-descriptions-item>
                <el-descriptions-item label="安装过程" label-align="right" align="center" label-class-name="label-item">
                    <pre class="install-content" v-html="composer_install" ref="terminal"></pre>
                </el-descriptions-item>
            </el-descriptions>
        </div>

        <div style="text-align: center;">
            <el-button style="margin-top: 12px" @click="check" v-if="active == 1" type="primary" :loading="loading">重新检测</el-button>
            <el-button style="margin-top: 12px" @click="prev"  v-if="active > 1 && active < 3">上一步</el-button>
            <el-button style="margin-top: 12px" @click="prev"  v-if="install_status == 2">返回</el-button>
            <el-button style="margin-top: 12px" @click="next" :disabled="buttonStatus" type="primary" :loading="loading"  v-if="active < 3">{{active==3?'安装':'下一步'}}</el-button>
        </div>
    </div>
</div>
<script>
    const { createApp } = Vue
    const app = createApp({
        data() {
            return {
                info:null,
                loading:false,
                active:1,
                frame:null,
                composer_install:'',
                database:{
                    hostname:'127.0.0.1',
                    database:'',
                    username:'root',
                    password:'',
                    port:3306,
                },
                user:{
                    username:'admin',
                    password:'',
                    password_confim:'',
                },
                error:'',
                install_status:0
            }
        },
        created(){
            this.loading = true
            this.check()
        },
        computed:{
            buttonStatus(){
                if(this.active == 1 && this.info &&  this.info.check){
                    return false
                }else if(this.active == 2){
                    return false
                }
                return true
            }
        },
        methods:{
            check(){
                this.loading = true
                axios.get('http://0.0.0.0:8000/index.php?step=1').then(res=>{
                    this.info = res.data
                }).finally(()=>{
                    this.loading = false
                })
            },
            scrollToBottom(){
                this.$nextTick(()=>{
                    this.$refs.terminal.scrollTop = this.$refs.terminal.scrollHeight
                })
            },

            install(){
                this.loading = true
                this.install_status = 0
                this.composer_install = ''
                let source = new EventSource('http://0.0.0.0:8000/index.php?step=3&username='+
                    this.user.username+
                    '&password='+
                    this.user.password+
                    '&frame='+this.frame+
                    '&database='+JSON.stringify(this.database)+
                    '&user='+JSON.stringify(this.user)
                );
                source.onopen = (event)=>{
                    //  console.log(event)
                    this.install_status = 0
                }
                source.addEventListener('data',(event)=>{
                    // console.log(event)
                    this.composer_install += event.data
                    this.scrollToBottom()
                })
                source.addEventListener('dataError',(event)=>{

                    this.composer_install += "\n<span style='color: red'>"+event.data+"</span>"
                    this.scrollToBottom()
                })
                source.onerror = (event)=>{
                    source.close();
                    this.loading = false
                    if(this.composer_install.indexOf('success') > -1){
                        this.install_status = 1
                    }else{
                        this.install_status = 2
                    }
                }
            },
            next(){
                if(this.active == 2){
                    this.loading = true
                    this.error = ''
                    axios.post('http://0.0.0.0:8000/index.php?step=2&frame='+this.frame,{
                        database:this.database,
                        user:this.user,
                    }).then(res=>{
                        if(res.data.code == 1){
                            this.error = res.data.message
                        }else{
                            this.active++
                        }
                    }).finally(()=>{
                        this.loading = false
                    })
                }else{
                    this.active++
                }
            },
            prev(){
                this.install_status = 0
                this.active--
            }
        }
    }).use(ElementPlus)
    for (const [key, component] of Object.entries(ElementPlusIconsVue)) {
        app.component(key, component)
    }
    app.mount('#app')
</script>
</body>
</html>